<h1>Gossips</h1>
<ul>
  <% @gossips.each do |gossip| %>

  <li id="micropost-<%= gossip.id %>"> 
    <span class="content"><%= gossip.content %></span>
    <span class="user">, by <%= gossip.corsaire.anonymous_username %></span>
  </li>

  <% end %>
</ul>
